*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
        --facebook: #3b5998;
        --instagram: #e4405f;
        --twitter: #55acee;
        --whatsapp: #43d854;
        --youtube: #cd201f;
        --correo: #33d4ce;
        --principal:#0769e9;
        --fondo:#edede9;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* ----Inicio---- */

.header{
    background-color: #0769e9;
}

.nav-texto{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    text-shadow: .1rem .1rem .1rem #333;
    text-align: center;
}

.nav-texto button{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 30px;
    text-shadow: .1rem .1rem .1rem #333;
}

@media (min-width:768px){
    .nav-texto{
        font-size: 18px;
    }

    .nav-texto button{
        font-size: 18px;
    }
}

@media (min-width:1200px){
    .nav-texto{
        font-size: 20px;
    }

    .nav-texto button{
        font-size: 20px;
    }
}

/* Portada */

.portada{
    height: 70vh;
    background-image: url(../assets/img/fondos/fondo-1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada-titulo{
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: white;
    text-shadow: .1rem .1rem .1rem #333;
    font-weight: bolder;
}

.portada-parrafo{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-shadow: .1rem .1rem .1rem #333;
    font-weight: bolder;
}

.portada-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton{
    padding: 1.5rem 5rem;
    background: #0769e9;
    border: 2px solid #0a5fce;
    cursor: pointer;
    position: relative;
    border-radius: .3rem;
    overflow: hidden;
}

.boton::before{
    content:'Registrate';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
    transition: .3s ease;
}

.boton::after{
    content:'¡Gratis!';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
    transition: .3s ease;
}

.boton:hover::before{
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
}

.boton:hover::after{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.boton:hover{
    border: 2px solid #aa1a1a;
    background: #aa1a1a;
}

@media (min-width:768px){
    .portada-titulo{
        font-size: 2.5rem;
    }

    .portada-parrafo{
        font-size: 2rem;
    }

    .boton{
        padding: 1.8rem 5.5rem;
    }
    .boton::before{
        font-size: 1.3rem;
    }
    
    .boton::after{
        font-size: 1.3rem;
    }
}

@media (min-width:1200px){
    .portada-titulo{
        font-size: 3rem;
    }
    
    .portada-parrafo{
        font-size: 2rem;
    }
    
    
    .boton{
        padding: 2rem 6rem;
    }
    
    .boton::before{
        font-size: 1.5rem;
    }
    
    .boton::after{
        font-size: 1.5rem;
    }
}

/* Novedades */

.novedades{
    background: var(--fondo);
}

.novedades-titulo{
    background-color: #0769e9;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.novedades-slider{
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    overflow: auto;
}

.novedades-producto{
    margin: 15px;
    width: 350px;
    height: 490px;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .2);
    display: block;
    align-items: center;
    justify-content: center;
    background: #8d99ae;
}

.novedades-img{
    width: 350px;
    height: 350px;
}

.novedades-titulo-producto{
    font-family: 'Prompt', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    text-shadow: .1rem .1rem .1rem rgb(75, 75, 75);
    text-transform: uppercase;
    font-weight: 400;
}

.novedades-precio{
    font-family: 'Prompt', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    text-shadow: .1rem .1rem .1rem rgb(75, 75, 75);
    font-weight: 400;
}

.novedades-cont-boton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.novedades-boton{
    padding: .8rem 2rem;
    background: #0769e9;
    border: 2px solid #0a5fce;
    cursor: pointer;
    border-radius: .3rem;
    color: white;
    transition: .3s;
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
    text-align: center;
    text-shadow: .1rem .1rem .1rem rgb(75, 75, 75);
    text-transform: uppercase;
    font-weight: 400;
}

.novedades-boton:hover{
    border: 2px solid #aa1a1a;
    background: #aa1a1a;
    transition: .3s;
    color: white;
}

@media (min-width:768px){
    .novedades-titulo{
        font-size: 2rem;
        letter-spacing: .3rem;
        padding: 15px;
    }

    .novedades-producto{
        width: 380px;
        height: 510px;
    }
    
    .novedades-img{
        width: 380px;
        height: 360px;
    }
    
    .novedades-titulo-producto{
        font-size: 1.4rem;
    }
    
    .novedades-precio{
        font-size: 1.3rem;
    }

    .novedades-boton{
        padding: .9rem 2.1rem;
        font-size: 1.2rem;
    }
}

@media (min-width:1200px){
    .novedades-titulo{
        font-size: 2.5rem;
        letter-spacing: .5rem;
        padding: 20px;
    }

    .novedades-producto{
        width: 400px;
        height: 570px;
    }
    
    .novedades-img{
        width: 400px;
        height: 400px;
    }
    
    .novedades-titulo-producto{
        font-size: 1.6rem;
    }
    
    .novedades-precio{
        font-size: 1.5rem;
    }

    .novedades-boton{
        padding: 1rem 2.3rem;
        font-size: 1.4rem;
    }
}

/* Footer */

.footer-contacto{
    background: #0769e9;
    height: 11vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.ayuda{
    line-height: 11px;
}

.redes-titulo,
.ayuda-titulo,
.ayuda-parrafo{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 400;
}

.redes ul li{
    display: inline-block;
    margin: 0 2px;
    text-align: center;
}

.redes ul li a{
    display: block;
    padding: 0 2px;
    background-color: #333;
    color: white;
    line-height: 22px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
    transition: .2s;
}

.redes ul:hover a{
    filter: blur(2px);
}

.redes ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .4);
    filter: none;
}

.redes ul li .facebook:hover{
    background: var(--facebook);
}

.redes ul li .instagram:hover{
    background: var(--instagram);
}

.redes ul li .twitter:hover{
    background: var(--twitter);
}

.redes ul li .youtube:hover{
    background: var(--youtube);
}

.ayuda{
    display: block;
    text-align: center;
}

.ayuda-btn{
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    color: white;
    transition: all .2s;
    font-size: 18px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .4);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.ayuda-btn:hover{
    border: 1px solid white;
    background-color: white;
    color: #0769e9;
    transform: scale(2,2);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .8);
    transition: all .2s;
}

.marca{
    background: whitesmoke;
    font-size: .6rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.marca p{
    margin: 0;
}

@media (min-width:768px){
    .footer-contacto{
        height: 14vh;
    }
    
    .ayuda{
        line-height: 26px;
    }
    
    .redes-titulo,
    .ayuda-titulo,
    .ayuda-parrafo{
        font-size: 23px;
    }
        
    .redes ul li a{
        padding: 4px 4px;
        font-size: 23px;
    }
    
    
    .ayuda-btn{
        padding: 7px;
        font-size: 17px;
    }
    
    .marca{
        background: var(--fondo);
        font-size: .8rem;
    }
}

@media (min-width:1200px){
    .footer-contacto{
        height: 16vh;
    }
    
    .ayuda{
        line-height: 38px;
    }
    
    .redes-titulo,
    .ayuda-titulo,
    .ayuda-parrafo{
        font-size: 25px;
    }
        
    .redes ul li a{
        padding: 6px 6px;
        font-size: 30px;
    }
    
    .ayuda-btn{
        padding: 8px;
        font-size: 20px;
    }
    
    .marca{
        background: var(--fondo);
        font-size: .9rem;
    }
}
/* ----Registrarse---- */

.cont{
    height: 100vh;
    width: 100%;
    padding: 7px;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.cont-registrarse{
    padding: 10px;
    position: relative;
}

.cont-login{
    display: block;
    width: 360px;
    height: auto;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}

.cont-registrarse h1{
    color: #797979;
    margin-bottom: 20px;
    text-align: center;
}

.cont-registrarse input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a9a9a9;
    color: #333;
}

.cont-registrarse input:active,
.cont-registrarse input:focus{
    outline: none;
}

.cont-registrarse .submit{
    width: auto;
    padding:10px;
    background: #0769e9;
    color: #fff;
    font-size: 15px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .4);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px 115px;
    text-shadow: .1rem .1rem .1rem #333;
}

.cont-checkbox-1{
    display: block;
    font-size: 13px;
    margin: 0 60px;
}

.cont-checkbox-2{
    display: block;
    font-size: 13px;
    margin: 5px 90px;
}

.cont-checkbox-1 input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.cont-checkbox-2 input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.con-login{
    background-image: linear-gradient(to bottom right, #1ab6b6, #4cac6e);
    padding: 40px;
}

.con-login h2{
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.con-login button{
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    position: relative;
}

.con-login i{
    position: absolute;
    font-size: 18px;
    top: 12px;
    left: 12px;
}

.con-login .fb{
    background: var(--facebook);
    border-style: none;
    color: #fff;
}

.con-login .tw{
    background: var(--twitter);
    border-style: none;
    color: #fff;
}

.con-login .gg{
    background: var(--youtube);
    border-style: none;
    color: #fff;
}

.con-login .correo{
    background: var(--correo);
    border-style: none;
    color: #fff;
}

/* ----Contacto---- */
.pag-contacto{
    background: var(--fondo);
}

.mapa-titulo{
    background-color: #0769e9;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
}

/* Seccion Mapa */

.mapa-map{
    width: 100%;
    height: 400px;
}

/* Seccion Preguntas */

.preguntas-titulo{
    background-color: #0769e9;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.acordeon-titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    letter-spacing: .2rem;
    font-weight: 400;
    text-shadow: .1rem .1rem .1rem #333;
}

.acordeon-pregunta{
    font-family: 'Prompt', sans-serif;
    text-shadow: .1rem .1rem .1rem (75, 75, 75);
    font-weight: 400;
    font-size: 1rem;
}

.acordeon-respuesta{
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: .1rem .1rem .1rem (75, 75, 75);
    font-weight: 400;
    font-size: 1rem;
}

/* Seccion Contacto */

.contacto{
    background-color: var(--principal);
    border-radius: 14px;
    padding: 25px;
    display: grid;
    gap: 25px;
    color: white;
    margin: 5px 5px;
}

.contacto p,
.contacto label,
.contacto ul{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .2rem;
    text-shadow: .1rem .1rem .1rem #333;
    font-weight: 700;
    font-size: .9rem;
}

.contacto-titulo{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    letter-spacing: .2rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
    text-align: center;
}

.contacto-detalles,
.contacto-formulario{
    display: grid;
    gap: 20px;
}

.contacto-formulario-grupo{
    display: grid;
    gap: 3px;
}

.contacto-formulario input,
.contacto-formulario textarea{
    border-radius: 7px;
    border: none;
    height: 40px;
    padding: 5px 10px;
}

.contacto-formulario textarea{
    height: auto;
    resize: none;
}

.contacto-formulario-submit{
    width: 100%;
    height: 50px;
    background-color: black;
    border-radius: 7px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transition: .3s all;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    letter-spacing: .2rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
}

.contacto-formulario-submit:hover{
    background-color: white;
    box-shadow: 0 0 14px rgba(0, 0, 0, .2);
    border: 1px solid black;
    color: black;
    transition: .3s all;
}

.contacto-redes-cont{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.contacto-redes-iconos i{
    color: white;
    font-size: 30px;
}

@media (min-width:768px){
    .mapa-titulo{
        font-size: 2rem;
        letter-spacing: .3rem;
        padding: 15px;
    }
    
    .mapa-map{
        height: 500px;
    }

    .preguntas-titulo{
        font-size: 2rem;
        letter-spacing: .3rem;
        padding: 15px;
    }
    
    .acordeon-titulo{
        font-size: 1.5rem;
    }
    
    .acordeon-pregunta{
        font-size: 1.1rem;
    }
    
    .acordeon-respuesta{
        font-size: 1.1rem;
    }
    

    .contacto{
        font-size: 20px;
        margin: 5px 5px;
    }

    
    .contacto-titulo{
        font-size: 35px;
        font-weight: 700px;
        text-align: left;
    }
    
    .contacto-redes-cont{
        justify-content: flex-start;
    }
    
    .contacto-redes-iconos i{
        font-size: 40px;
    }

    .contacto-titulo{
        grid-area: titulo;
    }

    .contacto-detalles{
        grid-area: detalles;
    }

    .contacto-formulario{
        grid-area: formulario;
    }

    .contacto-redes{
        grid-area: redes;
    }

    .contacto{
        grid: 
        "titulo   formulario" auto
        "detalles formulario" 1fr
        "redes    formulario" auto /
        1fr       1fr;
        align-items: start;
    }
}

@media (min-width:1200px){
    .mapa-titulo{
        font-size: 2.5rem;
        letter-spacing: .5rem;
        padding: 20px;
    }
    
    .mapa-map{
        height: 550px;
    }

    .preguntas-titulo{
        font-size: 2.5rem;
        letter-spacing: .5rem;
        padding: 20px;
    }
    
    .acordeon-titulo{
        font-size: 1.6rem;
    }
    
    .acordeon-pregunta{
        font-size: 1.2rem;
    }
    
    .acordeon-respuesta{
        font-size: 1.2rem;
    }
    

    .contacto{
        font-size: 25px;
    }

    
    .contacto-titulo{
        font-size: 38px;
        text-align: center;
    }
    
    .contacto-redes-cont{
        justify-content: center;
    }
    
}

/* ----Productos---- */
.productos{
    background: #edede9;
}

.productos-titulo{
    background-color: #0769e9;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
    color: white;
    text-align: center;
}

.productos-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.productos-articulo{
    margin: 15px;
    width: 350px;
    height: 490px;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .2);
    display: block;
    align-items: center;
    justify-content: center;
    background: #8d99ae;
}

.productos-img{
    width: 350px;
    height: 350px;
}

.productos__titulo{
    font-family: 'Prompt', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    text-shadow: .1rem .1rem .1rem rgb(75, 75, 75);
    text-transform: uppercase;
    font-weight: 400;
}

.productos-precio{
    font-family: 'Prompt', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    text-shadow: .1rem .1rem .1rem rgb(75, 75, 75);
    font-weight: 400;
}

.productos-cont-boton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.productos-boton{
    padding: .8rem 2rem;
    background: #0769e9;
    border: 2px solid #0a5fce;
    cursor: pointer;
    border-radius: .3rem;
    color: white;
    transition: .3s;
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
    text-align: center;
    text-shadow: .1rem .1rem .1rem rgb(75, 75, 75);
    text-transform: uppercase;
    font-weight: 400;
}


.productos-boton:hover{
    border: 2px solid #aa1a1a;
    background: #aa1a1a;
    transition: .3s;
    color: white;
}

@media (min-width:768px){
    .productos-contenedor{
        flex-wrap: wrap;
        flex-direction: unset;
        justify-content: center;
    }
    
    .productos-titulo{
        font-size: 2rem;
        letter-spacing: .3rem;
        padding: 15px;
    }

    .productos-articulo{
        width: 360px;
        height: 510px;
    }
    
    .productos-img{
        width: 360px;
        height: 360px;
    }
    
    .productos__titulo{
        font-size: 1.4rem;
    }
    
    .productos-precio{
        font-size: 1.3rem;
    }
    
    .productos-boton{
        padding: .9rem 2.1rem;
        font-size: 1.2rem;
    }
}

@media (min-width:1200px){

    .productos-contenedor{
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .productos-titulo{
        font-size: 2.5rem;
        letter-spacing: .5rem;
        padding: 20px;
    }

    .productos-articulo{
        width: 400px;
        height: 570px;
    }
    
    .productos-img{
        width: 400px;
        height: 400px;
    }
    
    .productos__titulo{
        font-size: 1.6rem;
    }
    
    .productos-precio{
        font-size: 1.5rem;
    }
    
    .productos-boton{
        padding: 1rem 2.3rem;
        font-size: 1.4rem;
    }
}

/* ----Juegos---- */
.juegos{
    background: #edede9;
}

.juegos-titulo{
    background-color: #0769e9;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
    color: white;
    text-align: center;
}

.juegos-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.juegos-articulo{
    margin: 3px;
    width: 350px;
    height: 450px;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .2);
    display: block;
    align-items: center;
    justify-content: center;
}

.juegos-img{
    width: 350px;
    height: 350px;
}

.juegos__titulo{
    font-family: 'Prompt', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    text-shadow: .1rem .1rem .1rem rgb(75, 75, 75);
    text-transform: uppercase;
    font-weight: 400;
}

.juegos-cont-boton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.juegos-boton{
    padding: 1.5rem 5rem;
    background: #0769e9;
    border: 2px solid #0a5fce;
    cursor: pointer;
    position: relative;
    border-radius: .3rem;
    overflow: hidden;
}

.juegos-boton::before{
    content:'Precio';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
    transition: .3s ease;
}

.juegos-boton::after{
    content:'Comprar';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
    transition: .3s ease;
}

.juegos-boton:hover::before{
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
}

.juegos-boton:hover::after{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.juegos-boton:hover{
    border: 2px solid #aa1a1a;
    background: #aa1a1a;
}

@media (min-width:760px){
    .juegos-contenedor{
        flex-wrap: wrap;
        flex-direction: unset;
        justify-content: center;
    }
    
}
